.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Minecraft ###
run/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Loom / Fabric runtime artifacts
versions/*/.fabric/
versions/*/.mixin.out/
versions/*/logs/
versions/*/versions/
versions/*/options.txt
versions/*/servers.dat
versions/*/servers.dat_old
versions/*/.devauth/
versions/*/resourcepacks/
# Per-user config files produced by the client (do not track)
versions/*/config/**/indigo-renderer.properties
versions/*/usercache.json
versions/*/players/
**/command_history.txt
versions/*/data/

# General runtime / log files
run/
*.log
**/*.log
**/*.log.gz
**/logs/
versions/*/logs/latest.log

# Per-version runtime files (local, should not be pushed)
versions/*/config/
versions/*/crash-reports/
versions/*/downloads/
versions/*/realms_persistence.json
versions/*/gradle.properties



### Misc ###
jar-entries.txt
latest.log
versions/*/data/
